<div layout="row" class="bg-dark-blue nav-dark mynav" layout-align="space-between center">
    <div>
        <md-button>LOBBY</md-button>
        <md-button>MY CONTESTS</md-button>
        <md-button>Item 2</md-button>
        <md-menu>
            <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button>Help</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>About</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="nav-buttons">
        <md-button>My profile</md-button>
        <md-button>Log Out</md-button>
    </div>
</div>